body{
    text-align: center;
    font-family: "Verdana";
}

.post{
    width: 70%;
    background-color: gray;
    margin: 0 auto;
}

#cabecera{
    background-color: #88F;
    box-shadow: 0 2px 4px 0 black;
}